h1 {
  text-align: center;
}

.dropzone {
  background: white;
  border-radius: 5px;
  border: 2px dashed rgb(0, 135, 247);
  border-image: none;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.hidden {
  display: none;
}

.dropArticlePreview {
}

.imgDelete {
  display: none;
}
.imgDelete:hover {
  display: block;
  color: red;
  top: 50%;
  left: 5%;
  margin: 0 0 auto;
  font-size: 1.4rem;
  font-weight: bold;
}

.previewImage {
  width: 200px;
}

#drop_file_zone {
  display: flex;
  align-items: center;
  background-color: #eee;
  border: rgba(109, 152, 172, 0.801) 5px dashed;
  width: 290px;
  height: 200px;
  padding: 8px;
  font-size: 18px;
}
#drag_upload_file {
  width: 50%;
  margin: 0 auto;
}
#drag_upload_file p {
  text-align: center;
}
#drag_upload_file #selectfile {
  display: none;
}

.errorBorder {
  border: 1px solid red;
}
