body {
  font-family: 'Montserrat', sans-serif;
}
h1 {
  text-align: center;
}

.dropzone {
  background: white;
  border-radius: 5px;
  border: 2px dashed rgb(0, 135, 247);
  border-image: none;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.hidden {
  display: none;
}

.imgDelete {
  display: none;
}
.imgDelete:hover {
  display: block;
  color: red;
  top: 50%;
  left: 5%;
  margin: 0 0 auto;
  font-size: 1.4rem;
  font-weight: bold;
}

.previewImage {
  width: 50%;
}
.previewImageEdit {
  width: 50%;
}

#drop_file_zone {
  display: flex;
  align-items: center;
  background-color: #eee;
  border: rgba(109, 152, 172, 0.801) 5px dashed;
  width: 290px;
  height: 200px;
  padding: 8px;
  font-size: 18px;
}
#drag_upload_file {
  width: 50%;
  margin: 0 auto;
}
#drag_upload_file p {
  text-align: center;
}
#drag_upload_file #selectfile {
  display: none;
}

#drag_upload_file #selectfileedit {
  display: none;
}

.modal {
  overflow: hidden;
}

.allArticles > img {
  object-fit: cover;
  width: 100%;
  height: 33vh;
}

.modal-header {
  /* not necessary but imo important for user */
  cursor: move;
}

.errorBorder {
  border: 1px solid red;
}

#gallery {
  padding-top: 40px;
}

@media screen and (min-width: 991px) {
  #gallery {
    padding: 60px 30px 0 30px;
  }
}

.two-inputs .form-group {
  width: 47%;
}

.modal-content {
  overflow-y: scroll;
  max-height: 95vh;
  scrollbar-width: thin;
}

.img-wrapper {
  position: relative;
  margin-top: 15px;
  object-fit: fill;
  height: 33vh;
}
.img-wrapper img {
  width: 100%;
  object-fit: cover;
  height: 33vh
}

.img-overlay {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  opacity: 0;
}
.img-overlay i {
  color: #fff;
  font-size: 3em;
}

#overlay {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  z-index: 999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#overlay img {
  margin: 0;
  width: 80%;
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
  padding: 5%;
}
@media screen and (min-width: 768px) {
  #overlay img {
    width: 60%;
  }
}
@media screen and (min-width: 1200px) {
  #overlay img {
    width: 50%;
  }
}

#nextButton {
  color: #fff;
  font-size: 2em;
  -webkit-transition: opacity 0.8s;
  transition: opacity 0.8s;
}
#nextButton:hover {
  opacity: 0.7;
}
@media screen and (min-width: 768px) {
  #nextButton {
    font-size: 3em;
  }
}

#prevButton {
  color: #fff;
  font-size: 2em;
  -webkit-transition: opacity 0.8s;
  transition: opacity 0.8s;
}
#prevButton:hover {
  opacity: 0.7;
}
@media screen and (min-width: 768px) {
  #prevButton {
    font-size: 3em;
  }
}

#exitButton {
  color: #fff;
  font-size: 2em;
  -webkit-transition: opacity 0.8s;
  transition: opacity 0.8s;
  position: absolute;
  top: 15px;
  right: 15px;
}
#exitButton:hover {
  opacity: 0.7;
}
@media screen and (min-width: 768px) {
  #exitButton {
    font-size: 3em;
  }
}


/*.lightBox{*/
/*  float: left;*/
/*  height: 300px;*/
/*  margin: 0px 10px;*/
/*}*/

/*.thumb{*/
/*  width: 400px;*/
/*}*/


/*.backDrop{*/
/*  background-color: transparent;*/
/*  display: none;*/
/*  filter: alpha(opacity=0);*/
/*  height: 100%;*/
/*  left: 0px;*/
/*  opacity: .0;*/
/*  position: absolute;*/
/*  top: 0px;*/
/*  width: 100%;*/
/*  z-index: 50;*/
/*}*/

/*.box{*/
/*  display: none;*/
/*  height: 600px;*/
/*  left: 30%;*/
/*  margin-left: -210px;*/
/*  opacity: 0;*/
/*  position: absolute;*/
/*  top: 10%;*/
/*  z-index: 51;*/

/*  -moz-border-radius: 2px;*/
/*  -webkit-border-radius: 2px;*/
/*  border-radius: 2px;*/
/*}*/

/*.close{*/
/*  color: white;*/
/*  cursor: pointer;*/
/*  float: left;*/
/*  font-size: 32px;*/
/*  margin: 10px;*/
/*  position: absolute;*/
/*}*/

/*.close:hover {*/
/*  color: white !important;*/
/*}*/

/*.clear{*/
/*  clear: both;*/
/*}*/